body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ECEFF1;
  }
  
  #main {
    width: 100%
  }
  
  #header {
    text-align: center;
    background-image: url("https://i.ytimg.com/vi/Lg9-HTtgFOk/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 10px;
    border-radius: 20px;
  }
  
  #title {
    margin-bottom: -10px;
  }
  
  #content {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
  }
  
  #img-div {
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
  }
  
  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  #img-caption {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  #tribute-info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 40%;
  }
  
  #footer {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CFD8DC;
    border-radius: 20px;
    float: left;
  }
  
  #source {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-weight: 700;
  }